@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    padding: 10px 15px;
    font-family: 'Roboto Slab', serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Añadir margen inferior */
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0000FE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Subtract navbar height */
}

.reservation-system {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    max-width: 800px;
    width: 90%;
}

h1 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

.seating-area {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 2rem;
}

.section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.seat {
    width: 30px;
    height: 30px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transition: all 0.3s ease;
}

.seat:hover {
    transform: scale(1.1);
}

.seat.unavailable {
    background-color: #e74c3c;
    cursor: not-allowed;
    color: #fff;
}

.seat.selected {
    background-color: #2ecc71;
    color: #fff;
}

#message {
    margin-top: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
}

.button {
    margin-top: 1.5rem;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .seating-area {
        flex-direction: column;
    }

    .section {
        grid-template-columns: repeat(8, 1fr);
    }
}